
/ {
    behaviors {
        inc_sens: zmk_mouse_increase_sensitivity {
            compatible = "zmk,behavior-mouse-increase-sensitivity";
            label = "MOUSE_SENS_INCREASE";
            bindings = <&zmk_mouse_increase_sensitivity>;
        };

        dec_sens: zmk_mouse_decrease_sensitivity {
            compatible = "zmk,behavior-mouse-decrease-sensitivity";
            label = "MOUSE_SENS_DECREASE";
            bindings = <&zmk_mouse_decrease_sensitivity>;
        };
    };
};
